@mixin Cinzel($Cfw) {
    font-family: 'Cinzel', sans-serif;
    font-weight: $Cfw;
}
@mixin Raleway($Rfw) {
    font-family: 'Raleway', sans-serif;
    font-weight: $Rfw;
}

@mixin radio-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }