$default: #54544a;
$white: #ffffff;
$white-100: #f0f0f0;
$white-200: #e0e0e0;
$burgund: #ae5754;
$burgund-100: #bfa58d6e;
$burgund-200: #bfa58d;


$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;